.page1 {
    width: auto;
    height: auto;
    box-sizing: border-box;
    height: 100vh;
display: flex;
justify-content: center;
align-items: center;
  }
  .body {
    background-color: #515B66;
    height: 100vh;
  }
  

  .page1 .imgContainer{
max-width: 100%;
aspect-ratio: 16 / 9; 
margin: auto;
position: relative;
max-height: 90%;
  }


  .imgContainer img{
    width: 100%;
    height: 100%;

  }


  .page1 .linkList{
    position: absolute;
    bottom: 15%;
    color: #000;
    left: 10%;
    max-width: 500px;
    width: 20%;
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
    border-radius: 10px;
    border: 1px solid #afaeae;
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    padding: 5px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
  }

.fma{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}
  .page2 {
    display: none ;
  }
  
  .socLinks {
    position: absolute;
    right: 25%;
    bottom: 4%;
    display: flex;
    gap: 30px;
  }
  .socLinks img{
 max-width: 40px;
 height: 90%!important;
  }
  .socLinks1 {
    position: absolute;
    left: 10%;
    bottom: 2%;
    display: flex;
    gap: 10px;
    width: 45%;
  }
  .socLinks a{
width: 100%;
  }

  .socLinks1 a{
    width: 100%;
      }


      .page2 {
        width: auto;
        height: auto;
        box-sizing: border-box;
        height: 100vh;
    justify-content: center;
    display: none;
    
      }
  @media screen and (max-width:1100px) {
    .page2 {
      display: flex;
    }
    .page1{
      display: none;
    }
    .fma{
      top: 10px;
      right: 10px;
      padding: 5px 10px;
    }
    .socLinks1 img{
      width: 40px;
      height: 90%!important;
      object-fit: contain;
            }
  }

  @media screen and (max-width:768px) {
    .socLinks1 img{
      width: 25px;
            }
  }
  @media screen and (max-width:500px) {
    .socLinks1 img{
      width: 20px;
            }
  }


  .page2 .imgContainer{
aspect-ratio: 9 / 16;
margin: auto;
position: relative;
max-height: 94%;
margin-top: 0;
  }

      .page2 img{
        height: 100%;
        max-width: 900px;
        margin: auto;
      }

      .page2 .linkList{
        position: absolute;
        bottom: 57%;
        color: #fff;
        right: 50%;
        transform: translateX(50%);
        max-width: 400px;
        background-color: #181818a2;
        text-align: center;
        width: 80%;
        font-size: 22px;
        border-radius: 10px;
        border: 1px solid #afaeae;
        background: rgba(255, 255, 255, 0.1); 
        border-radius: 10px;
        padding: 5px;
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(10px); 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
      }
    