.page1 .imgContainer {
    max-width: 95%;
    aspect-ratio: 16 / 9;
    margin: auto;
    position: relative;
    max-height: 95%;
}

.page1 {
    width: auto;
    height: auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

}

.lists {
  background:#252323ed;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  width: 90%;
  height: 70%;
    max-height: 800px;
    color: #fff;
}

.lists h2 {
  margin-bottom: 20px;
  color: #555;
}

.tableContainer {
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 80%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  border-bottom: 2px solid #ddd;
  text-align: start;
  background-color: #0f0f0f;
  padding: 20px 0;
}

.table thead th {
text-align: start;
  padding: 10px ;
}



.table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #a8a5a5b6;
  text-align: start;
}

/* .table tbody tr:nth-child(even) {
  background-color: #141414;
} */
/* 
.table tbody tr:hover {
  background-color: #f1f1f1;
} */



.noListings {
  color: #999;
  font-style: italic;
  margin-top: 20px;
  display: flex;
  justify-content: center ;
  align-items: center;
  margin: auto;
  font-size: 30px;
  color: #fff;
}